<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<div class="panel-body">
				Encabezado
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Configuración</p>			
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Tweets</p>			
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>¿A quien seguir?</p>			
			</div>
		</div>
	</div>
</div>
<!-- comienza la fila 2-->
<div class="row">
	<div class="col-xs-3 col-xs-offset-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Tendencias</p>			
			</div>
		</div>
	</div>
</div>
